/* booking.component.scss */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
@import "primeicons/primeicons.css";




.full-width-image {
  width: 100%;
  height: 20%;
  display: block;
}



.booking-container {
  display: flex;
  justify-content: space-between;
}




.ticket-info {
  flex: -1;
  padding: 20px;
}

/* booking.component.scss */
table {
  border-radius: 8px;
  width: 100%;
  background-color: #000000;
  color: #fff;
  font-size: 16px; /* Set a fixed font size to prevent text resizing with zoom */
}

th, td {
  padding: 8px;
  text-align: center;
  white-space: nowrap; /* Prevent text from wrapping */
  font-family: "Poppins", sans-serif;
}

th {
  text-align: center;
  background-color: #000000;
  color: #fff;
  padding: 11px;
}

th:nth-child(1) {
  width: 30%; /* Set a fixed width for the first column */
}

th:nth-child(2) {
  width: 30%; /* Set a fixed width for the second column */
}

th:nth-child(3) {
  width: 40%; /* Set a fixed width for the third column */
}

button {
  background-color: #222222;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  transition: background-color 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff56;
  color: #fff;
}

.seat-selection {
  flex: 2;
  padding: 20px;
}


.reset-button {
  background-color: red;
  color: white;
  margin-top: 10px;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #ce0000; /* Change to a different shade of red for the hover effect */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.horizontal-seat-row {
  display: flex;
  flex-wrap: wrap;
}

.horizontal-seat-row button {
  font-family: "unicons", sans-serif;
  flex: 0 0 auto;
  margin: 5px; /* Adjust the margin as needed for spacing */
  white-space: nowrap;
  width: 50px; /* Set the width of each button as needed */
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.horizontal-seat-row button[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

.horizontal-seat-row button:hover {
  background-color: #007bff;
}


.seat-button {
  margin: 3px; /* spacing */
}

.popup-image {
  max-width: 100%; /* Limit the image width to its container's width */
  max-height: 40vh; /* Limit the image height to 80% of the viewport height */
  display: block; /* Remove any default inline styling */
  margin: 0 auto; /* Center the image horizontally */
}

.concert-image {
  max-width: 1000px;
  max-height: 810px;
  border-radius: 15px;
  transition: transform 0.2s;
  position: relative;
  top: -180px;
  left: 350px;
  z-index: 4;
}

.concert-image:hover {
  transform: scale(1.02);
}

.red-timer {
  color: red;
}


.concert-title-container {
  background-color: #fff; /* Adjust the background color as needed */
  border: 2px solid #000; /* Adjust the border styles as needed */
  padding: 8px; /* Adjust the padding as needed */
  margin-left: 110px;
  margin-top: -10px;
}

.concert-title {
  font-family: "Lucida Console", "Courier New", monospace;
  top: -100px;
  font-size: 20px;
  color: #000000;
  position: relative;
  left: 200px;
}

.custom-fieldset { //outside
  border: 2px solid #000000;
  padding: 10px;
  background-color: #000000;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}

::ng-deep .p-fieldset { //inside
  border: 2px solid #000000;
  padding: 1px;
  background-color: #f9f9f9;
  font-family: 'unicons', sans-serif;
  word-wrap: break-word; /* อนุญาตให้ข้อความขยายตัวเมื่อข้อความมาก */
  white-space: pre-line; /* อนุญาตให้ข้อความขีดเว้นไปข้อความถัดไป */
}

::ng-deep .p-fieldset p {
  max-width: 500px; /* ความกว้างสูงสุดของข้อความในแต่ละบรรทัด */
}

.quantity-box, .selected-seats-box {
  background-color: #e4e4e4;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border: 1px solid #000000;
  border-radius: 7px;
}


.label {
  font-family: "unicons", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.buy-tickets-button-box button {
  margin-top: 12px;
  padding: 6px 16px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #000000;
}


.event-container {
  border-radius: 10px;
  bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 1fr;
  gap: 10px; /* Add some spacing between the two parts */
  border: 10px solid #000000; /* Add a border for separation */
  padding: 10px;
  max-width: 610px; /* Adjust the maximum width as needed */
  background-color: #fff;
}

.event-date {
  text-align: center;
  border-right: 2px solid #000; /* This adds a vertical divider */
  padding-right: 10px; /* Adjust padding as needed */
}

.day {
  font-size: 24px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.event-details h3 {
  grid-column: span 2;
  font-size: 20px;
  margin: 0;
}

.date-time span {
  font-weight: bold;
}

.location a {
  text-decoration: none;
  color: #007bff;
}


.vertical-divider {
  border-left: 2px solid #000;
  height: 200%;
  position: absolute;
  top: 1;
  left: 50%;
  z-index: 1;
}

.horizontal-picture-container {
  position: relative;
  z-index: 3; /* Place the horizontal picture and its container above the divider */
}



.custom-close-button:hover {
  background-color: rgb(105, 105, 105);
}

.confirm-button:hover {
  background-color: rgb(105, 105, 105);
}

.summary-content {
  font-family: "Poppins", sans-serif;
  font-size: large;
  font-weight: 400;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}


.card-info-container {
  display: flex;
  flex-wrap: wrap;
}

.card-info-box {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-info-box label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.select-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.select-button:hover {
  background-color: #4ba2ff;
}

.step-indicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}



.step-indicator {
  text-align: center;
}

.step-circle.step-1 {
  /* Styles for the first circle */
  background-color: #b1b1b1;
}

.step-circle.step-2 {
  /* Styles for the second circle */
  background-color: #0000FF;
}

.step-circle.step-3 {
  /* Styles for the third circle */
  background-color: #ff0000;
}

.step-circle {
  width: 34px;
  height: 34px;
  color: white;
  border-radius: 50%;
  font-size: 18px;
  line-height: 35px;
  margin-right: 8px;
}

.step-label {
  font-size: 16px;
  margin-left: 38px;
  margin-top: -25px;
}

