/* booking.component.scss */
.booking-container {
    display: flex;
    justify-content: space-between;
  }
  
  .concert-info {
    flex: 1;
    padding: 20px;
  }
  
  .ticket-info {
    flex: 2;
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #000000;
    color: #fff; /* กำหนดสีข้อความเป็นสีขาว */
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #000000;
    font-weight: bold;
    color: #ffffff;
    padding: 15px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
    color: #fff;
  }
  
  .seat-selection {
    flex: 2;
    padding: 20px;
  }
  