<app-topbar>
  <div class="background-color" style="background-color: #0e0e0e;">
    <div class="horizontal-picture-container">
      <img class="full-width-image" src="https://s3-ap-southeast-1.amazonaws.com/tm-img-banner-event/cdcf5c606c2611ee911101117567899b.jpg?format=basic&resize=w1440,h450" alt="Horizontal Picture">
    </div>
    <div class="booking-container">
      <div class="concert-info-container">
        <img class="concert-image" style="box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.06), 0px 7px 9px rgba(0, 0, 0, 0.12), 0px 20px 25px -8px rgba(0, 0, 0, 0.18);" src="https://s3-ap-southeast-1.amazonaws.com/tm-img-poster-event/cb9c01a06c2611ee911101117567899b.jpg?format=basic&resize=w425,h610" alt="Concert Image">
        <h3 class="concert-title text-white pl-8">Description</h3>
        <div class="concert-title">
          <hr class="title-underline" style="width: 85%; margin-left: 12%;">
          <p-fieldset legend="Concert Description" [toggleable]="true" class="custom-fieldset">
            <p> 24 ตุลา (อังคาร) Office Syndrome Band + YOURHEART + ALISON @ Blueprint</p>
            <p>Livehouse</p>
            <p>รวมวงป็อปที่เราเคยส่งให้เธอฟัง แต่เธอกลับเอาไปส่งให้มันต่อ</p>
            <p>🚪 ประตูเปิด 19:30</p>
            <p>👨‍👩‍👧‍👦 ไม่จำกัดอายุ</p>
            <p>#BlueprintLivehouse #OfficieSyndromeBand #YOURHEART #ALISON</p>
          </p-fieldset>
        </div>
      </div>
      <div class="ticket-info pr-8">
        <div class="event-container text-white" style="background-color: black;">
          <div class="event-date">
            <span class="day">24</span>
            <br>
            <span>
              <span class="bold">Tue/</span>Nov
            </span>
            <p-divider></p-divider>
            <span class="pi pi-calendar-times" style="font-size: 2.5rem; color: rgb(255, 255, 255)"></span>
          </div>
          <div class="event-details">
            <h3>Blueprint Livehouse: Office Syndrome + YOURHEART + ALISON</h3>
            <p-divider></p-divider>
            <ul>
              <span>
                <span class="pi pi-spin pi-clock" style="color: green"></span> Tue 24 November 2023 • 19:30
              </span>
              <p-divider></p-divider>
              <span>
                <span class="pi pi-map-marker" style="color: red"></span> Blueprint Livehouse
              </span>
            </ul>
          </div>
        </div>
        <table style="margin-top: 30px;" class="styled-table">
          <thead>
            <tr>
              <th>Ticket Type</th>
              <th>Price</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ZONE A</td>
              <td>599 THB</td>
              <td>On Sale</td>
              <td>
                <button (click)="selectZone('ZONE A')">Select Zone</button>
              </td>
            </tr>
            <tr>
              <td>ZONE B</td>
              <td>450 THB</td>
              <td>On Sale</td>
              <td>
                <button (click)="selectZone('ZONE B')">Select Zone</button>
              </td>
            </tr>
            <tr>
              <td>ZONE C</td>
              <td>400 THB</td>
              <td>On Sale</td>
              <td>
                <button (click)="selectZone('ZONE C')">Select Zone</button>
              </td>
            </tr>
            <tr>
              <td>ZONE D</td>
              <td>300 THB</td>
              <td>On Sale</td>
              <td>
                <button (click)="selectZone('ZONE D')">Select Zone</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="quantity-box text-white" style="background-color: black;">
          <p class="label">Quantity : {{ selectedSeats.length }}</p>
        </div>
        <div class="selected-seats-box text-white" style="background-color: black;">
          <p class="label">Total : {{ calculateTotal() }}</p>
        </div>
        <div class="buy-tickets-button-box text-white">
          <button (click)="buyTickets()" [disabled]="selectedSeats.length === 0">Buy Tickets</button>
        </div>
      </div>
    </div>
    <p-dialog header="Select Seats" [(visible)]="displayDialog" [modal]="true" [resizable]="false" [style]="{ width: '50%' }">
      <p id="countdown-timer">Time Left : 05:00</p>
      <div class="stage-image">
        <img class="popup-image" src="assets/Stage.jpg" alt="Stage Image">
      </div>
      <div class="seat-selection">
        <h3>Select Your Seats for {{ selectedZone }}</h3>
        <div class="seat-grid">
          <ng-container *ngFor="let seat of availableSeats; let i = index">
            <button [disabled]="isSeatTaken(seat)"
                    (click)="selectSeat(seat)"
                    [style.background]="isSeatSelected(seat) ? 'linear-gradient(to right, red, orange)' : 'linear-gradient(to right, gray, darkgray)'"
                    [style.width]="seatButtonWidth"
                    class="seat-button">{{ seat }}
            </button>
            <br *ngIf="(i + 1) % 10 === 0" /> <!-- A line break after every 10 seats -->
          </ng-container>
        </div>
        <div class="button-container">
          <button class="reset-button" (click)="resetSelection()">Reset</button>
        </div>
        <p>Selected Seats : {{ selectedSeats.join(', ') }}</p>
        <button class="custom-close-button" (click)="hideDialog()">Close</button>
      </div>
    </p-dialog>
    <p-dialog header="Booking Summary" [(visible)]="displaySummary" [modal]="true" [resizable]="false" [style]="{ width: '50%' }">
      <div class="step-indicators">
        <div class="step-indicator">
          <div class="step-circle step-1">1</div>
          <div class="step-label">Select Seats</div>
        </div>
        <div class="step-indicator">
          <div class="step-circle step-2">2</div>
          <div class="step-label">Select Payment Method</div>
        </div>
        <div class="step-indicator">
          <div class="step-circle step-3">3</div>
          <div class="step-label">Confirmation</div>
        </div>
      </div>
      <p-divider align="center">
        <div class="inline-flex align-items-center">
          <i class="pi pi-ticket mr-2" style="color: orange;"></i>
          <b>Summary</b>
        </div>
      </p-divider>
      <div class="summary-content">
        <p>Concert : {{ currentConcertName }}</p>
        <p>Quantity : {{ selectedSeats.length }}</p>
        <p class="pi pi-money-bill" style="color: green"></p> Total Price : {{ calculateTotal() }}
        <p-divider></p-divider>
        <h3>Selected Seats</h3>
        <ul>
          <li *ngFor="let seat of selectedSeatsSummary">
            Seat : {{ seat.seat }}, {{ seat.zone }}
          </li>
        </ul>
        <h3>Select Payment Method</h3>
        <div class="payment-options">
          <div class="payment-option">
            <input type="radio" id="creditDebit" name="paymentMethod" value="creditDebit" [(ngModel)]="selectedPaymentMethod" class="mb-5">
            <img src="https://s3-ap-southeast-1.amazonaws.com/tm-public-file/checkout-credit/crediticon.svg" alt="" style="width: 80px;" class="ml-2">
            <div *ngIf="selectedPaymentMethod === 'creditDebit'" class="card-info-container">
              <div class="card-info-box" style="width: 150px;">
                <label for="cardNumber">Card Number:</label>
                <input type="text" id="cardNumber" [(ngModel)]="cardNumber" style="width: 160px;">
              </div>
              <div class="card-info-box">
                <label for="nameOnCard">Name on Card:</label>
                <input type="text" id="nameOnCard" [(ngModel)]="nameOnCard">
              </div>
              <div class="card-info-box">
                <label for="expiryDate">Expiry Date:</label>
                <input type="text" id="expiryDate" [(ngModel)]="expiryDate">
              </div>
              <div class="card-info-box ">
                <label for="cvvCvc">CVV/CVC:</label>
                <input type="text" id="cvvCvc" [(ngModel)]="cvvCvc">
              </div>
              <div class="select-card-section" *ngIf="selectedPaymentMethod === 'creditDebit'">
                <h3>Select a Card</h3>
                <div class='center2' *ngFor="let card of savedCards">
                  <div class='card'>
                      <div class='front'>        
                          <div class='middle'>
                              <div class='cd-number'>
                                <p><strong>Card Number:</strong> {{ card.cardNumber }}</p>
                              </div>
                          </div>  
                         <div class='bottom'>
                              <div class='cardholder'>
                                  <p class='label'>Cardholder</p>
                                  <p><strong>Name on Card:</strong> {{ card.nameOnCard }}</p>
                              </div>
                              <div class='expires'>
                                  <p class='label'>CVC</p>
                                  <p><strong>Expiry Date:</strong> {{ card.expiryDate }}</p>
                              </div>
                              <div class='expires'>
                                  <p class='label'>Exp</p>
                                  <p><strong>CVV/CVC:</strong> {{ card.cvvCvc }}</p>
                              </div>      
                          </div>
                          <button (click)="selectCard(card)" class="select-button">Select</button>  
                      </div>                 
                  </div>
              </div>
                <!-- <div class="saved-cards-container">
                  <div class="saved-card" *ngFor="let card of savedCards">
                    <button (click)="selectCard(card)" class="select-button">Select</button>
                    <div class="card-details">
                      <p><strong>Card Number:</strong> {{ card.cardNumber }}</p>
                      <p><strong>Name on Card:</strong> {{ card.nameOnCard }}</p>
                      <p><strong>Expiry Date:</strong> {{ card.expiryDate }}</p>
                      <p><strong>CVV/CVC:</strong> {{ card.cvvCvc }}</p>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="payment-option">
            <input type="radio" id="promptPay" name="paymentMethod" value="promptPay" [(ngModel)]="selectedPaymentMethod" class="mb-5">
            <img src="https://s3-ap-southeast-1.amazonaws.com/tm-public-file/checkout-credit/PromptPay.svg" alt="" style="width: 150px;" class="ml-2">
            <div *ngIf="selectedPaymentMethod === 'promptPay'" class="qr-code-container">
              <div class="p-5 ml-5 text-center">
              <img src="https://apps.odoo.com/apps/icon_image?module_id=87744" alt="QR Code PromptPay" [style.max-width.px]="350" [style.max-height.px]="350">
              </div>
            </div>
          </div>
        </div>
        <button class="confirm-button" (click)="confirmPayment()">Confirm</button>
      </div>
    </p-dialog>
  </div>
</app-topbar>
