<app-topbar>
  <div class="booking-container">
    <div class="concert-info">
      <img class="concert-image" src="assets/background.jpg" alt="Concert Image">
      <h2>Concert Title</h2>
      <p>Concert Description goes here...</p>
    </div>

    <div class="ticket-info">
      <table>
        <thead>
          <tr>
            <th>Ticket Type</th>
            <th>Price</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ZONE A</td>
            <td>4,900 THB</td>
            <td>On Sale</td>
            <td>
              <button (click)="selectZone('ZONE A')">Select Zone</button>
            </td>
          </tr>
          <tr>
            <td>ZONE B</td>
            <td>3,900 THB</td>
            <td>On Sale</td>
            <td>
              <button (click)="selectZone('ZONE B')">Select Zone</button>
            </td>
          </tr>
          <tr>
            <td>ZONE C</td>
            <td>2,900 THB</td>
            <td>On Sale</td>
            <td>
              <button (click)="selectZone('ZONE C')">Select Zone</button>
            </td>
          </tr>
          <tr>
            <td>ZONE D</td>
            <td>1,900 THB</td>
            <td>On Sale</td>
            <td>
              <button (click)="selectZone('ZONE D')">Select Zone</button>
            </td>
          </tr>
        </tbody>
      </table>
      <p>Quantity : {{ selectedSeats.length }}</p>
      <p>Selected Seats: {{ selectedSeats.join(', ') }}</p>
      <button (click)="buyTickets()">Buy Tickets</button>
    </div>
  </div>
  <p-dialog header="Select Seats" [(visible)]="displayDialog" [modal]="true" [resizable]="false" [style]="{ width: '50%' }">
    <p id="countdown-timer">Time Left : 01:00</p>
    <div class="stage-image">
      <img class="popup-image" src="assets/template.jpg" alt="Stage Image">
    </div>
    <div class="seat-selection">
      <h3>Select Your Seats for {{ selectedZone }}</h3>
      <div class="seat-grid">
        <ng-container *ngFor="let seat of availableSeats; let i = index">
          <button [disabled]="isSeatTaken(seat)"
                  (click)="selectSeat(seat)"
                  [style.background-color]="isSeatSelected(seat) ? 'green' : 'blue'"
                  [style.width]="seatButtonWidth"
                  class="seat-button">
            {{ seat }}
          </button>
          <br *ngIf="(i + 1) % 10 === 0" /> <!-- A line break after every 10 seats -->
        </ng-container>
      </div>
      <div class="button-container">
        <button class="reset-button" (click)="resetSelection()">Reset</button>
      </div>
      <p>Selected Seats : {{ selectedSeats.join(', ') }}</p>
      <button (click)="hideDialog()">Close</button>
    </div>      
  </p-dialog>
</app-topbar>
