.topbar {
    width: 100%;
    max-height: 60px; /* ตั้งค่าความสูงสูงสุดของ topbar */
  }
.container {
    height: 100%;
    padding: 0 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
}

span {
    cursor: pointer;
}

span:hover {
    background-color: #54647b;
    border-radius: 50%;
}

.content {
    position: absolute;
    left: 0;
    top: 70px;
    min-height: calc(100vh - 20px);
    width: 100vw;
}

.logo { 

    width: 200px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.bookingbt{
    font-size: 2.5rem;
}

.bookingbt .p-button .p-icon {
    font-size: 50px;
  }
