.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #202124; 
    padding: 2% 0;
    background-image: url(https://images4.alphacoders.com/457/4574.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.allpromocontainer {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    width: 42%;
    background-color: rgba(43, 46, 49, 0.75); 
    backdrop-filter: blur(10px);  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: visible;
    color: #e0e0e0;  
}

.promo-container, .summary-container {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.label-text {
    font-weight: 600;
    margin-bottom: 8px;
    color: #bdbdbd;  
}

.submit-btn, .back-btn {
    align-self: flex-end;
    margin-top: 20px;
    background-color: #3c4043;  
    color: #e0e0e0; 
    border-radius: 10px;
}

.inline-flex {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.calculation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343638;  
    padding: 20px;
    margin: 3%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.inline-text {
    flex: 1;
    text-align: center;
    font-weight: 500;
}

.hidden {
    display: none;
}

.gencode-btn {
    margin: 34%;
}


.back-btn2 {
    position:absolute;
    top: 10.5%;
    left: 29.2%;
}