.container {
    width: 1000px;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.con1:hover {
    transform: scale(1.03); /* เพิ่มขนาดของรูปภาพเมื่อเมาส์วาง */
    transition: transform 0.2s; /* เพิ่มเวลาการเปลี่ยนขนาด */
  }